<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <div class="flex justify-center">
      <div class="w-full lg:max-w-1/3">
        <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">Login / Register</h2>

        <div>
          <div class="grid grid-cols-1 gap-6 mt-4">
            <div>
              <label class="text-gray-700 dark:text-gray-200" for="emailAddress">Email Address</label>
              <input id="emailAddress" type="email" [(ngModel)]="email" (input)="onEmailChange()" minlength="5"
                     class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              <p *ngIf="emailError" class="mt-2 text-sm text-red-600 dark:text-red-400">{{ emailError }}</p>
            </div>

            <div>
              <label class="text-gray-700 dark:text-gray-200" for="password">Password</label>
              <input id="password" type="password" [(ngModel)]="password" (input)="onPasswordChange()" minlength="8"
                     class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
              <p *ngIf="passwordError" class="mt-2 text-sm text-red-600 dark:text-red-400">{{ passwordError }}</p>
            </div>
          </div>

          <div class="flex justify-end mt-6">
            <button (click)="loginHandler()" [disabled]="!validateInputs()"
              class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 disabled:opacity-50">
              Login
            </button>
            <button (click)="registerHandler()" [disabled]="!validateInputs()"
              class="ml-8 px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 disabled:opacity-50">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
